$theme-colors:(
    "primary":#2C3167,
    "gold":#131210,
    "light":grey,
    "text1":#000000,
);
$bc-colors:(
    "model1":#ffffff,
);
$drop-color:linear-gradient(90deg, rgba(5,58,117,1) 4%, rgba(25,116,173,1) 100%);